* {
  border: none;
  border-radius: 0;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #ffffff;
}

tooltip {
  background: #121212;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #212121;
}

#workspaces button {
  padding: 2px 2px;
  color: #868686;
}

#workspaces button.active {
  color: #fff;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 5px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 5px;
}

#workspaces button:hover {
  background: #2c2c2c;
  color: #fff;
  border-radius: 5px;
}

#custom-arch,
#custom-updates,
#custom-notification,
#custom-weather,
#custom-powermenu,
#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#workspaces,
#tray,
#backlight,
#cpu,
#memory,
#temperature {
  background: #121212;
  color: #ffffff;
  padding: 0px 10px;
  margin: 2px;
  margin-top: 4px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #212121;
}

#custom-arch {
  padding: 0px 13px 0px 8px;
}

#workspaces {
  padding: 2px 5px;
}

#cpu {
  border-right: none;
  border-radius: 5px 0 0 5px;
  margin-right: 0;
  padding-right: 5px;
}

#memory {
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  padding-right: 5px;
  padding-left: 5px;
}

#temperature {
  border-left: none;
  border-radius: 0 5px 5px 0;
  margin-left: 0;
  padding-left: 5px;
}

#custom-updates {
  border-right: none;
  margin-right: 0;
  border-radius: 5px 0 0 5px;
  padding-right: 5px;
}

#custom-notification {
  border-left: none;
  margin-left: 0;
  border-radius: 0 5px 5px 0;
  padding-left: 5px;
}

#battery {
  border-right: none;
  margin-right: 0;
  border-radius: 5px 0 0 5px;
  padding-right: 5px;
}

#battery.charging {
  color: #a6e3a1;
}

#battery.discharging {
  color: #edb48c;
}

#battery.discharging.warning {
  color: #eba0ac;
}

#backlight {
  border-left: none;
  margin-left: 0;
  border-radius: 0 5px 5px 0;
  padding-left: 5px;
}

#pulseaudio {
  border-right: none;
  margin-right: 0;
  border-radius: 5px 0 0 5px;
  padding-right: 5px;
}

#pulseaudio.microphone {
  border-left: none;
  margin-left: 0;
  border-radius: 0 5px 5px 0;
  padding-right: 10px;
}

#custom-powermenu {
  padding: 0px 12px 0px 8px;
}
