window {
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-size: 16pt;
  color: #ffffff; /* text */
  background-color: rgba(18, 18, 18, 0.9);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border: 2px solid #ffffff;
  background-color: rgba(18, 18, 18, 0);
  margin: 5px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(33, 33, 33, 0.1);
}

button:focus {
  background-color: #dddddd;
  color: #242424;
}

#lock {
  background-image: image(url("./lock_light.svg"));
}
#lock:focus {
  background-image: image(url("./lock_dark.svg"));
}

#logout {
  background-image: image(url("./logout_light.svg"));
}
#logout:focus {
  background-image: image(url("./logout_dark.svg"));
}

#suspend {
  background-image: image(url("./sleep_light.svg"));
}
#suspend:focus {
  background-image: image(url("./sleep_dark.svg"));
}

#shutdown {
  background-image: image(url("./poweroff_light.svg"));
}
#shutdown:focus {
  background-image: image(url("./poweroff_dark.svg"));
}

#reboot {
  background-image: image(url("./restart_light.svg"));
}
#reboot:focus {
  background-image: image(url("./restart_dark.svg"));
}

#windows {
  background-image: image(url("./windows_light.svg"));
}
#windows:focus {
  background-image: image(url("./windows_dark.svg"));
}
