@define-color foreground #ffffff;
@define-color background #121212;
@define-color background-alpha #121212;
@define-color accent #ffffff;
@define-color current-line #212121;
@define-color comment #868686;

.notification-row {
  transition: all 50ms ease;
  outline: none;
  margin-bottom: 2px;
  margin-right: 3px;
  margin-top: 2px;
  border-radius: 8px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: transparent;
}

.notification-row:focus .notification,
.notification-row:hover .notification {
  box-shadow: none;
  border: 0px solid @accent;
  background: @current-line;
}

.control-center .notification {
  box-shadow: none;
}

.control-center .notification-row {
  opacity: 0.5;
}

.notification {
  transition: all 50ms ease;
  border-radius: 4px;
  margin: 2px;
  padding: 0;
}

/* Uncomment to enable specific urgency colors
.low {
  background: yellow;
  padding: 6px;
  border-radius: 12px;
}

.normal {
  background: green;
  padding: 6px;
  border-radius: 12px;
}

.critical {
  background: red;
  padding: 6px;
  border-radius: 12px;
}
*/

.notification-content {
  background: transparent;
  padding: 12px;
  border-radius: 4px;
}

.close-button {
  background: @current-line;
  color: @foreground;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 6px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @comment;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 2px;
  margin: 0;
  box-shadow: none;
  background: @current-line;
  border: 1px solid @accent;
  color: @foreground;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @current-line;
}

.notification-default-action {
  border-radius: 4px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 4px;
}

.notification-action:last-child {
  border-bottom-right-radius: 4px;
  border-right: 1px solid @accent;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: @foreground;
  border-radius: 4px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @foreground;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @foreground;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @foreground;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @foreground;
  text-shadow: none;
}

.control-center-clear-all {
  color: @foreground;
  text-shadow: none;
  background: @current-line;
  border: 1px solid @accent;
  box-shadow: none;
  border-radius: 4px;
}

.control-center-clear-all:hover {
  background: @comment;
}

.control-center-dnd {
  border-radius: 4px;
  background: @background;
  border: 1px solid @accent;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @accent;
}

.control-center-dnd slider {
  background: @background;
  border-radius: 4px;
}

.control-center {
  background: @background-alpha;
  border-radius: 6px;
  background-clip: border-box;
  padding: 4px;
  box-shadow: none;
  color: @foreground;
  border: 2px solid @current-line;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color: @foreground;
  text-shadow: none;
  background: @background;
  border: 1px solid @accent;
  box-shadow: none;
  border-radius: 4px;
}
.widget-title > button:hover {
  background: @background;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 4px;
  background: @background;
  border: 1px solid @accent;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @accent;
}
.widget-dnd > switch slider {
  background: @comment;
  border-radius: 6px;
  border: 2px solid @foreground;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  background-color: @background;
  border-radius: 4px;
  border: 1px solid @accent;
  color: @foreground;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}
